doctype html

html
  head
    title #{title}
    style
      include style.css
    block script
      script(src="//unpkg.com/axios/dist/axios.min.js")
  body
    block header
      header.header #{title}
    block content

    block main