* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
}

footer {
  height: 40px;
  line-height: 40px;
  color: #fff;
  background-color: #666;
  text-align: center;
  font-size: 13px;
}