* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  background-color: #333;
  color: #fff;
  font-size: 24px;
}

.container {
  flex: 1;
  padding: 20px;
}

footer {
  height: 50px;
  line-height: 50px;
  color: #666;
  background-color: #f3f3f3;
  text-align: center;
  font-size: 14px;
}