.idea*
.vscode
.nuxt
.env
.DS_Store
logs/*.log
node_modules/
config/config.dev.js
config/config.prod.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
view/dist/

backend/jianshu/*

mongodb.cmd
mongodb.conf
