doctype html

html
  head
    title #{title}
    style
      include style.css
    block script
      script(src="//cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
  body
    block header
      header.header #{title}
    block content