@import '../../stylesheets/common/util';

$btn-offsetTop: 50px;
$btn-offsetRight: 50px;
$btn-offsetLeft: 20px;
$btn-width: 80px;
$link-paddingTop: 80px;
$menu-bg: $white;
$menu-color: $blue;
$gap: 20px;

.menu {
	.menu-btn {
		position: absolute;
		top: $btn-offsetTop;
		font-size: 18px;
		width: $btn-width;
		text-align: center;
		cursor: pointer;
		transition: transform $slider-time;

		.icon-star {
			margin-right: 5px;
			font-size: 22px;
		}
	}
	.menu-btn-outside {
		right: $btn-offsetRight;
		text-shadow: $font-light;
		color: $gray;
	}

	&.open .menu-btn-outside {
		transform: translate3d($btn-offsetRight + $btn-offsetLeft + $btn-width, 0, 0);
	}

	.menu-btn-inside {
		left: -($btn-offsetRight + $btn-width);
		color: $menu-color;
	}

	&.open .menu-btn-inside {
		transform: translate3d($btn-offsetRight + $btn-offsetLeft + $btn-width, 0, 0);
	}

	.side-menu {
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;
		width: $side-width;
		overflow: hidden;
		background-color: $menu-bg;
		transform: translate3d($side-width, 0, 0);
		transition: transform $slider-time;
	}

	// &.open .side-menu {
	// 	transform: translate3d(0, 0, 0);
	// }
}

.link-group {
	padding: $btn-offsetTop + $link-paddingTop + 18px $gap 0 $gap;
	display: flex;
	flex-direction: column;

	.link {
		margin-bottom: 20px;
		font-size: 15px;
		cursor: pointer;
		font-weight: bold;
		color: $menu-color;
		text-decoration: none;

		.iconfont {
			margin-right: 5px;
		}

		span {
			position: relative;
		}

		span::after {
			content: '';
			height: 2px;
			width: 0;
			background-color: $menu-color;
			position: absolute;
			bottom: -2px;
			left: 0;
			transition: all .3s;
		}

		&:hover span::after {
			width: 100%;
			left: 0;
		}

		&.active span::after {
			content: '';
			height: 2px;
			width: 100%;
			background-color: $menu-color;
			position: absolute;
			bottom: -2px;
			left: 0;
		}
	}
}

.personal-information {
	position: absolute;
	left: 0;
	bottom: 80px;
	width: 100%;
	text-align: center;
	color: $menu-color;
	padding: 0 $gap;

	.avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
}