@import './common/util';

@font-face {
	font-family: 'iconfont';  /* project id 211074 */
	src: url('//at.alicdn.com/t/font_a5hnyvn7wtvjkyb9.eot');
	src: url('//at.alicdn.com/t/font_a5hnyvn7wtvjkyb9.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_a5hnyvn7wtvjkyb9.woff') format('woff'),
	url('//at.alicdn.com/t/font_a5hnyvn7wtvjkyb9.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_a5hnyvn7wtvjkyb9.svg#iconfont') format('svg');
}

body {
	overflow-x: hidden;
}

.container {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	right: 0;
}

.example-enter {
	opacity: 0;
	transform: translate3d(-50%, 0, 0) scale(.6);
}

.example-enter.example-enter-active {
	opacity: 1;
	transform: translate3d(-50%, 0, 0) scale(1);
	transition: all .3s;
}

.example-leave {
	opacity: 1;
	transform: translate3d(-50%, 0, 0) scale(1);
}

.example-leave.example-leave-active {
	opacity: 0;
	transform: translate3d(-50%, 0, 0) scale(.6);
	transition: all .3s;
}