@import './common/util';

.factory-view {
	flex: 1;
	background-color: $black;
	color: $white;
	height: 100vh;
	position: relative;
	@include flex-center;
	overflow: hidden;
	flex-direction: column;

	.game-prev-group {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;

		&.hide {
			display: none;
		}
	}

	.title-group {
		margin: 150px 0 100px 0;
		position: relative;

		.game-title {
			font-size: 60px;
			position: relative;
			animation: restlessly 2s infinite;
		}

		.version {
			font-size: 12px;
			position: absolute;
			bottom: 14px;
			left: 100%;
			opacity: 0.5;
		}
	}

	.game-btn {
		margin-bottom: 20px;
		border: none;
		font-size: 30px;
		background-color: $tr;
		color: $white;
		cursor: pointer;
		animation: breathe 5s infinite;

		&:hover {
			text-shadow: 0 0 5px rgba(255, 255, 255, .6);
		}
	}

	&+.menu .menu-btn-outside {
		color: $white;
	}

	.game-main {
		display: flex;
		width: 100%;
		flex: 1;
		visibility: hidden;

		&.show {
			visibility: visible;
		}
	}

	.game-btn-group {
		position: absolute;
		left: 20px;
		top: 20px;
		z-index: 9;

		button {
			border: none;
			font-size: 16px;
			margin-right: 10px;
			background-color: $tr;
			color: $white;
			cursor: pointer;
		}
	}
}

.game-help {
	position: fixed;
	color: $black;
	font-size: 16px;
	background-color: $white;
	border-radius: 10px;
	padding: 20px;
	z-index: 11;
	visibility: hidden;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -40%);
	opacity: 0;
	transition: all .3s;

	&.show {
		opacity: 1;
		transform: translate(-50%, -50%);
		visibility: visible;
	}

	section:not(:last-child) {
		margin-bottom: 30px;
	}

	h3 {
		color: $dark-blue;
	}

	p {
		margin: 3px 0;
	}

	.icon-close {
		position: absolute;
		cursor: pointer;
		right: 15px;
		top: 15px;

		&:hover {
			opacity: .8;
		}
	}
}

@keyframes restlessly {
	0% {
		text-shadow: 3px 2px 0 $red;
	}
	20% {
		text-shadow: 2px -2px 0 $purple;
	}
	40% {
		text-shadow: -4px 2px 0 $gray;
	}
	60% {
		text-shadow: -3px -2px 0 $dark-green;
	}
	80% {
		text-shadow: 4px 3px 0 $dark-red;
	}
	100% {
		text-shadow: 3px 2px 0 $red;
	}
}

@keyframes breathe {
	0% {
		opacity: 1;
		text-shadow: 0 0 0px rgba(255, 255, 255, 1);
	}
	20% {
		opacity: 0.9;
		text-shadow: 0 0 5px rgba(255, 255, 255, 1);
	}
	40% {
		opacity: 0.8;
		text-shadow: 0 0 7px rgba(255, 255, 255, 1);
	}
	50% {
		opacity: 0.7;
		text-shadow: 0 0 10px rgba(255, 255, 255, 1);
	}
	60% {
		opacity: 0.8;
		text-shadow: 0 0 7px rgba(255, 255, 255, 1);
	}
	80% {
		opacity: 0.9;
		text-shadow: 0 0 5px rgba(255, 255, 255, 1);
	}
	100% {
		opacity: 1;
		text-shadow: 0 0 0px rgba(255, 255, 255, 1);
	}
}
