@import './common/util';

.home-view {
	flex: 1;
	position: relative;
	background-image: url('../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	cursor: default;

	.info {
		color: $white;
		position: relative;
		font-size: 20px;
		margin: 120px 0 0 60px;
		width: 300px;
		text-shadow: $font-light;
		text-align: center;
	}

	&+.menu .menu-btn-outside {
		text-shadow: $font-light;
		color: $white;
	}
}
