@import 'util';
//
// Reset.scss
// ------------------------
// 此处只修改浏览器默认样式
// (=ˋωˊ=)
//

*, *::before, *::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', 'Segoe UI', 'Microsoft Yahei', Helvetica, Arial;
}

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
    line-height: 1.426;
}

article {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 10px 0 15px 0;
    }
}
article, section {
    h1 {
        font-size: 2em;
    }
}

a,
a:hover,
a:active,
a:focus,
input,
input:hover,
input:active,
input:focus,
select,
select:hover,
select:active,
select:focus,
textarea,
textarea:hover,
textarea:active,
textarea:focus {
    outline: none;
}

button,
button:active,
button:focus,
button:hover {
    outline: none;
}

ul,
ol {
    list-style: none;
}

body {
    color: $font-color;
}

a {
    color: $blue;
}

blockquote {
    padding-left: 20px;
    margin: .5em 0;
    position: relative;
    border-left: 4px solid $blue;
}

code {
    padding: 10px 20px;
    display: inline-block;
    background-color: $light-black;
    color: $white;
    font-family: Consolas, Monaco, Droid, Sans, Mono, Source, Code, Pro, Menlo, Lucida, Sans, Type, Writer, Ubuntu, Mono;
    border-radius: 5px;
}

input, textarea, button {
    font-family: 'Montserrat', 'Segoe UI', 'Microsoft Yahei', Helvetica, Arial;
}
