@import '~stylesheets/common/util';

.home-view {
	flex: 1;
	position: relative;

	.first-screen {
		width: 100vw;
		height: 100vh;
		position: relative;
		overflow: hidden;
		cursor: default;
		background-color: $black;
	}

	.info {
		position: absolute;
		top: 50%;
		left: 50%;
		color: $white;
		font-size: 50px;
		// text-shadow: $font-light;
		user-select: none;
		transform: translate(-50%, -50%);

		@include max-screen(768px) {
			position: absolute;
			margin: 0;
			left: 50%;
			bottom: 50px;
			color: #333;
			font-size: 16px;
			transform: translateX(-50%);
		}
	}

	.main {
		&.hide {
			display: none;
		}
		section {
			width: 100%;
			height: 500px;
			@include flex-center;
		}
	}
}