@import '~stylesheets/common/util';

.home-view {
	flex: 1;
	position: relative;

	.first-screen {
		position: relative;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		cursor: default;
		background-color: #f3f3f3;
	}

	.info {
		position: absolute;
		top: 50%;
		left: 50%;
		font-size: 50px;
		user-select: none;
		transform: translate(-50%, -50%);
		z-index: 1;

		@include max-screen(768px) {
			font-size: 20px;
		}
	}

	aside {
		position: absolute;
		right: 8px;
		bottom: 8px;
		font-size: 12px;
		z-index: 5;

		a {
			color: #333;

			&:hover {
				color: $blue;
			}
		}
	}

	.main {
		&.hide {
			display: none;
		}
		section {
			width: 100%;
			height: 500px;
			@include flex-center;
		}
	}

	#canvas {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
	}
}