@import '~stylesheets/common/util';

.single-games-list-view {
	flex: 1;
	display: flex;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;

	.bg-image {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		filter: blur(20px);
		transform: scale(1.2);
		z-index: -1;
	}

	.games-list {
		position: relative;
		left: 5%;
		width: 90%;
		height: 150px;
		white-space: nowrap;
		overflow: hidden;
		margin: 10px 0;
		padding: 5px 0;
		transition: all .3s;
	}

	&.full .game-detail {
		transform: translateY(75px) scale(1.05);
	}

	&.full .games-list {
		opacity: 0;
		transform: translateY(100%);
	}

	.list-wrap {
		position: relative;
		height: 100%;
		min-width: 100%;
		will-change: transform;
		transition: transform .3s;
	}

	.game-item {
		width: 250px;
		height: 100%;
		display: inline-block;
		border-radius: 4px;
		overflow: hidden;
		position: relative;
		cursor: pointer;
		margin: 0 10px;
		background-color: $white;

		&.active {
			border: 3px solid $orange;
			box-shadow: 0 0 5px 3px rgba(0, 0, 0, .35);
		}
	}

	.left-content {
		opacity: .25;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.right-content {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		@include flex-center;
		text-align: center;
		white-space: pre-line;
		flex-direction: column;
		color: #333;
		padding: 20px;
		background-color: $tr;
		z-index: 1;
	}

	.game-detail {
		flex: 1;
		position: relative;
		left: 5%;
		width: 90%;
		margin-top: 20px;
		border-radius: 6px;
		display: flex;
		position: relative;
		overflow: hidden;
		transition: all .3s;
		box-shadow: 0 0 20px 10px rgba(0, 0, 0, .25);

		.change-game-btn {
			position: absolute;
			top: 50%;
			transform: translate3d(0, -50%, 0);
			font-size: 50px;
			opacity: .65;
			color: $black;
			z-index: 1;
			text-shadow: 0 0 30px $white;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}

			&.disbaled {
				visibility: hidden;
			}

			&.icon-prev {
				left: 0;
			}

			&.icon-next {
				right: 0;
			}
		}

		.cover-group {
			flex: 1;
			height: 100%;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
		}

		.detail-group {
			width: 350px;
			position: relative;
			flex-shrink: 0;
			background-color: $white;
			text-align: center;
			padding: 40px 20px;
			white-space: pre-line;

			.jump-btn {
				position: absolute;
				bottom: 30px;
				left: 20%;
				width: 60%;
				text-decoration: none;
				padding: 8px 0;
				border-radius: 4px;
				color: $white;
				background-color: $dark-blue;

				&:hover {
				    background-color: lighten($dark-blue, 5%);
				}

				&:active {
				    background-color: darken($dark-blue, 5%);
				}
			}
		}
	}

	.thumbnail-btn {
		position: absolute;
		left: 5px;
		bottom: 5px;
		font-size: 22px;
		text-shadow: 0 0 1px rgba(255, 255, 255, 1);
		color: $light-black;
	}

	.empty-data {
		flex: 1;
		@include flex-center;
		font-size: 24px;
		flex-direction: column;
	}

	@include max-screen(768px) {
		.change-game-btn {
			font-size: 36px;

			&.icon-prev {
				color: $black!important;
			}
		}
		.game-detail {
			.detail-group {
				background-color: rgba($white, 0.6);
			}

			.cover-group {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
			}
		}
	}
}