@import '~stylesheets/common/util';

// :local(.message) {
.message {
	position: fixed;
	top: 30px;
	left: 50%;
	color: $white;
	padding: 10px 15px;
	text-align: center;
	font-size: 13px;
	background-color: $blue;
	opacity: .95;
	border-radius: 20px;
	transform: translateX(-50%);
	max-width: 80%;
	z-index: 9999;

	&.error {
		background-color: $red;
	}

	&.success {
		background-color: $dark-green;
	}

	&.warning {
		background-color: $yellow;
	}

	.iconfont {
		vertical-align: middle;
		margin-right: 5px;
	}
}