@import '~stylesheets/common/util';

.Modal-Wrap {
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	-webkit-overflow-scrolling: touch;

	&.hide {
		visibility: hidden;
	}

	&.hide .Modal {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	.Modal {
		position: relative;
		display: flex;
		flex-direction: column;
		color: #333;
		z-index: 1;
		border: 1px solid #999;
		border-radius: 4px;
		background-color: #FFF;
		margin: 0 auto;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
		opacity: 1;
		transform: scale3d(1, 1, 1);
		transition: all .2s;

		.Modal-Close {
			color: #666;
			position: absolute;
			right: 15px;
			top: 15px;
			font-size: 16px;
			cursor: pointer;
			z-index: 1;

			&:hover {
				opacity: .8;
			}
		}

		.Modal-Header {
			position: relative;
			height: 50px;
			line-height: 50px;
			padding: 0 15px;
			border-bottom: 1px solid #dedede;
			cursor: auto;
		}

		.Modal-Body {
			padding: 15px;
			cursor: auto;
		}

		.Modal-Footer {
			height: 50px;
			line-height: 50px;
			border-top: 1px solid #dedede;
			cursor: auto;
			overflow: hidden;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	.Modal-Comfirm-Btn, .Modal-Cancel-Btn {
		display: inline-block;
		color: $white;
		padding: 0 15px;
		height: 30px;
		border: none;
		display: block;
		border-radius: 4px;
		margin-right: 10px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		transition: background-color .2s;
	}

	.Modal-Comfirm-Btn {
		background-color: $blue;

		&:hover {
		    background-color: lighten($blue, 5%);
		}

		&:active {
		    background-color: darken($blue, 5%);
		    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .36);
		}
	}

	.Modal-Cancel-Btn {
		background-color: $default;

		&:hover {
		    background-color: lighten($default, 5%);
		}

		&:active {
		    background-color: darken($default, 5%);
		    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .36);
		}
	}
}
