@import '~stylesheets/common/util';

.Modal-Wrap {
	position: fixed;
	height: 100%;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 9999;
	-webkit-overflow-scrolling: touch;

	.Modal-Fade {
		position: fixed;
		height: 100%;
		width: 100%;
		left: 0;
		top: 0;
		background-color: rgba(0, 0, 0, .6);
	}

	.Modal {
		position: relative;
		display: flex;
		flex-direction: column;
		color: #333;
		z-index: 1;
		border: 1px solid #999;
		border-radius: 4px;
		background-color: #FFF;
		margin: 0 auto;
		box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
		transition: transform .5s;

		.Modal-Close {
			color: #666;
			position: absolute;
			right: 15px;
			top: 15px;
			font-size: 16px;
			cursor: pointer;
			z-index: 1;

			&:hover {
				opacity: .8;
			}
		}

		.Modal-Header {
			position: relative;
			height: 50px;
			line-height: 50px;
			padding: 0 15px;
			border-bottom: 1px solid #dedede;
			cursor: auto;
		}

		.Modal-Body {
			padding: 15px;
			cursor: auto;
		}

		.Modal-Footer {
			height: 50px;
			line-height: 50px;
			border-top: 1px solid #dedede;
			cursor: auto;
			overflow: hidden;
			display: flex;
			justify-content: flex-end;
			align-items: center;
		}
	}

	.Modal-Comfirm-Btn, .Modal-Cancel-Btn {
		display: inline-block;
		color: $white;
		padding: 0 15px;
		height: 30px;
		border: none;
		display: block;
		border-radius: 4px;
		margin-right: 10px;
		text-align: center;
		text-decoration: none;
		cursor: pointer;
		transition: background-color .2s;
	}

	.Modal-Comfirm-Btn {
		background-color: $blue;

		&:hover {
		    background-color: lighten($blue, 5%);
		}

		&:active {
		    background-color: darken($blue, 5%);
		    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .36);
		}
	}

	.Modal-Cancel-Btn {
		background-color: $default;

		&:hover {
		    background-color: lighten($default, 5%);
		}

		&:active {
		    background-color: darken($default, 5%);
		    box-shadow: inset 0 2px 2px rgba(0, 0, 0, .36);
		}
	}

	&.Modal-Off {
		display: none;

		.Modal-Fade {
			display: none;
		}

		.Modal {
			display: none;
		}

	}

}

/*
 * Animate.css [zoomIn fade fadeIn shake]
 */
@keyframes zoomIn {
	from {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	50% {
		opacity: 1;
	}

}

.zoomIn {
	animation-name: zoomIn;
	animation-duration: .3s;
	animation-fill-mode: both;
}

@keyframes zoomOut {
	from {
		opacity: 1;
	}

	50% {
		opacity: 0;
		transform: scale3d(.3, .3, .3);
	}

	to {
		opacity: 0;
	}

}

.zoomOut {
	animation-name: zoomOut;
	animation-duration: .3s;
	animation-fill-mode: both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}

}

.fadeIn {
	animation-name: fadeIn;
	animation-duration: .3s;
	animation-fill-mode: both;
}

@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}

}

.fadeOut {
	animation-name: fadeOut;
	animation-duration: .3s;
	animation-fill-mode: both;
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translate3d(0, 30%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}

}

.fadeInUp {
	animation-name: fadeInUp;
	animation-duration: .3s;
	animation-fill-mode: both;
}

@keyframes fadeOutUp {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, -30%, 0);
	}

}

.fadeOutUp {
	animation-name: fadeOutUp;
	animation-duration: .3s;
	animation-fill-mode: both;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translate3d(0, -30%, 0);
	}

	to {
		opacity: 1;
		transform: none;
	}

}

.fadeInDown {
	animation-name: fadeInDown;
	animation-duration: .3s;
	animation-fill-mode: both;
}

@keyframes fadeOutDown {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
		transform: translate3d(0, 30%, 0);
	}

}

.fadeOutDown {
	animation-name: fadeOutDown;
	animation-duration: .3s;
	animation-fill-mode: both;
}

@keyframes shake {
	from,
	to {
		transform: translate3d(0, 0, 0);
	}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translate3d(-10px, 0, 0);
	}

	20%,
	40%,
	60%,
	80% {
		transform: translate3d(10px, 0, 0);
	}

}

.shake {
	animation-name: shake;
	animation-duration: .3s;
	animation-fill-mode: both;
}