@import '~stylesheets/common/util';

.active_account-view {
	width: 100vw;
	height: 100vh;
	@include flex-center;
	background-image: url('../../../images/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	h3 {
		margin-bottom: 20px;
	}

	.iconfont {
		font-size: 30px;
		margin-right: 10px;
		vertical-align: middle;
	}

	.msg-modal {
		background-color: rgba(33, 33, 33, .86);
		color: $white;
		padding: 20px 50px;
		opacity: .9;
		border-radius: 4px;
		text-align: center;
		box-shadow: 0 0 10px rgba(255, 255, 255, .86);

		&.success {
			background-color: $green;
		}

		&.error {
			background-color: $red;
		}

		.link-btn {
			color: $white;
			font-size: 12px;
			display: block;
		}

		small {
			font-size: 12px;
		}
	}
}