<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <title>{{title}}</title>
    {{!-- 通用样式 --}}
    {{> stylesheets}}

	  {{!-- 页面样式 --}}
    {{{block "pageStyles"}}}
  </head>
  <body>
    <!-- Placeholder for page content. -->
    {{{body}}}

    {{!-- 引进外部脚本 --}}
    {{> scripts}}

    {{!-- 页面脚本 --}}
    {{{block "pageScripts"}}}
  </body>
</html>