@import './common/util';

$diaplay_width: 80px;
$detector-width: 380px;

.factory-view {
	flex: 1;
	background-color: $black;
	color: $white;
	position: relative;
	@include flex-center;
	flex-direction: column;

	.game-prev-group {
		display: flex;
		flex-direction: column;

		&.hide {
			display: none;
		}
	}

	.game-title {
		margin-top: 150px;
	}

	.game-btn {
		margin-top: 100px;
		border: none;
		font-size: 30px;
		background-color: $tr;
		color: $white;
		cursor: pointer;

		&:hover {
			text-shadow: 0 0 5px rgba(255, 255, 255, .6);
		}
	}

	&+.menu .menu-btn-outside {
		color: $white;
		// display: none;
	}
}

.factory {
	position: relative;
	display: flex;
	flex: 1;
	align-self: stretch;
	padding: 10px;
	margin: 14px;
	border: 1px solid $white;
	background-color: $black;
	visibility: hidden;

	&.show {
		visibility: visible;
	}
}

.factory-container {
	position: relative;
	flex: 1;
	margin: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin: 30px 20px;

	.factory-process {
		position: relative;
		display: flex;
		border: 1px solid $white;

		&.entry::before {
			content: attr(data-port);
			color: $blue;
			position: absolute;
			left: 10px;
			top: -25px;
		}

		&.export::after {
			content: attr(data-port);
			position: absolute;
			color: $yellow;
			right: 10px;
			bottom: -25px;
		}

		.code-group {
			position: relative;
			height: 100%;
			margin-right: $diaplay_width;
			flex: 1;
		}

		.code-index {
			position: absolute;
			width: 100%;
			height: 100%;
			opacity: 0.1;
			@include flex-center;
			z-index: 1;
		}

		.code {
			position: absolute;
			height: 100%;
			width: 100%;
			resize: none;
			background-color: $tr;
			color: $white;
			font-size: 14px;
			border-right: 1px solid $white;
			padding: 5px;
    		font-family: 'Montserrat', 'Segoe UI', 'Microsoft Yahei', Helvetica, Arial;
			z-index: 2;
		}

		.display-area {
			position: absolute;
			display: flex;
			flex-direction: column;
			top: 0;
			right: 0;
			width: $diaplay_width;
			height: 100%;
			z-index: 2;

			.display-item {
				flex: 1;
				display: flex;
				flex-direction: column;
				margin: 2px 2px 0 2px;
				padding: 3px 0;
				text-align: center;
				border: 1px solid $white;

				>div {
					flex: 1;
					@include flex-center;
				}
			}

			.item-title {
				border-bottom: 1px solid $gray;
			}
		}

		&.factory-error::after {
			content: attr(data-error);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 20px;
			background-color: $red;
			opacity: 0.9;
			font-size: 40px;
			@include flex-center;
			z-index: 5;
		}

		&.factory-code-error::after {
			content: attr(data-error);
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 20px;
			background-color: $red;
			opacity: .85;
			font-size: 18px;
			z-index: 5;
		}
	}
}

.factory-console {
	display: flex;
	flex-direction: column;
}

.factory-detector {
	display: flex;
	flex: 1;
	width: $detector-width;
	margin-top: 40px;

	.factory-group {
		min-width: 40px;
		display: flex;
		flex-direction: column;
		border: 1px solid $white;
		margin: 0 10px;
		color: $white;
		text-align: center;

		.factory-group-child-wrap {
			display: flex;
			flex: 1;
		}

		.factory-group-child {
			display: flex;
			flex-direction: column;
			flex: 1;
			min-width: 40px;
			border: 1px solid $white;
			margin: 1px;
		}

		.factory-expect-group-wrap {
			color: #999;
		}

		.factory-output-group-wrap {
			color: $white;
		}

		.factory-item {
			height: 25px;
			line-height: 25px;
			padding: 2px 5px;
			font-size: 14px;

			>div {
				flex: 1;
				white-space: nowrap;
				letter-spacing: -0.8px;

				span:last-child {
					opacity: .6;
				}
			}
		}

		.error {
			color: $red;
		}

		.success {
			color: $green;
		}

		.active {
			background-color: $white;
			color: $black;
		}

		.group-title {
			font-size: 12px;
			padding: 5px 10px;
			text-align: center;
			white-space: nowrap;
			border: 1px solid $white;
			margin: 1px;
			color: $white;
		}
	}
}

.factory-panel {
	height: 100px;
	margin: 10px 0 0 0;
	padding: 10px;
	display: flex;
	flex-direction: column;

	.factory-panel-btn {
		border: none;
		font-size: 16px;
		color: $white;
		background-color: $tr;
		border: 1px solid $white;
		padding: 8px 0;
		flex: 1;
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 8px;
		}

		&:hover, &.active {
			background-color: $white;
			color: $black;
		}
	}

	.factory-btn-group {
		@include flex-v-center;
		justify-content: space-between;
	}

	.factory-msg-group {
		@include flex-v-center;
		flex: 1;
		margin-top: 10px;
		background-color: $white;
		color: $black;
		padding: 0 10px;
	}
}

.btn  {
	border: none;
	margin-top: 10px;
	color: $white;
	background-color: $tr;
}