@import './common/util';

.home-view {
	background-image: url('../images/bg2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	flex: 1;
	display: flex;
	flex-direction: column;

	.canvas {
		flex: 1;
		background-color: rgba(0, 0, 0, .166);
		color: $white;
		font-family: 'Montserrat';
	}
}
