@import '../../stylesheets/common/util';

.header {
	height: 60px;
	width: 100%;
	display: flex;
	background-color: rgba(255, 255, 255, 1);

	.left-nav, .right-nav {
		flex: 1;
		display: flex;
		height: 100%;
	}

	.left-nav {
		justify-content: flex-end;
	}
}

.link {
	padding: 0 35px;
	font-size: 14px;
	cursor: pointer;
	font-weight: bold;
	color: $blue;
	text-decoration: none;
	@include flex-center;

	span {
		position: relative;
	}

	span::after {
		content: '';
		height: 2px;
		width: 0;
		background-color: $blue;
		position: absolute;
		bottom: -2px;
		left: 50%;
		transition: all .3s;
	}

	&:hover span::after {
		width: 100%;
		left: 0;
	}

	&.active span::after {
		content: '';
		height: 2px;
		width: 100%;
		background-color: $blue;
		position: absolute;
		bottom: -2px;
		left: 0;
	}
}

$btn-size: 90px;
.header-btn-wrap {
	width: $btn-size;
	flex-shrink: 0;
	position: relative;

	.header-btn {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		padding: 10px;
		height: $btn-size;
		border-radius: 50%;
		background-color: $white;

		.btn-outer {
			width: 100%;
			height: 100%;
			border-radius: 50%;
			padding: 10px;
			background-color: #333;
			cursor: pointer;
			box-shadow: 1px 1px 0 #5d5d5d;

			.btn {
				width: 100%;
				height: 100%;
				border-radius: 50%;
				position: relative;
				cursor: pointer;
				box-shadow: inset 0 2px 0 #a8a8a8, 0 10px 10px rgba(0, 0, 0, 0.36), 0 3px 0 #000;
				background-image: linear-gradient(0deg, rgb(82, 79, 82) 0%, rgb(134, 134, 134) 57%);
				transition: all .2s;

				&::after {
					content: 'C';
					position: absolute;
					top: 50%;
					left: 50%;
					color: $white;
					font-weight: bold;
					font-size: 35px;
					transform: translate(-50%, -50%);
					text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.86);
					transition: color .2s;
				}

				&:active {
					top: 1px;
					box-shadow: inset 1px 3px 3px 2px rgba(0, 0, 0,.16);

					&::after {
						color: #eee;
					}
				}
			}
		}
	}
}