@import '~stylesheets/common/util';

.user-view {
	position: relative;
	flex: 1;
	will-change: transform;
	transition: transform $slider-time;

	&.offset {
		transform: translate3d(-$side-width, 0, 0);
	}

	.user-header {
		width: 100%;
		padding: 30px 0 50px 0;
		text-align: center;
		background-color: $blue;
		background: linear-gradient(130deg, #24C6DC , #514A9D);
		color: $white;

		.user-avatar {
			border-radius: 50%;
			width: 80px;
			height: 80px;
			box-shadow: 0 0 0 4px rgba($white, 0.45);
		}

		.user-email {
			color: $gray;
		}

		@include max-screen(768px) {
			padding: 12px 0 30px 0;
		}
	}

	.user-router {
		width: 100%;
		display: flex;
		border-bottom: 1px solid #ccc;

		li {
			flex: 1;
			display: flex;
			text-align: center;

			&:not(:last-child) {
				border-right: 1px solid $white;
			}

			a {
				flex: 1;
				padding: 8px 0;
				background-color: #f3f3f3;
				text-decoration: none;

				&.active {
					color: #fff;
					background-color: $light-black;
					cursor: default;
				}
			}
		}
	}
}