{{#contentFor 'pageStyles'}}
<style>
</style>
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script>
	$(function() {

	})
</script>
{{/contentFor}}

{{#data}}
    <h1>{{this.name}}</h1>
    <button class="clicker">123456</button>
{{/data}}