@import '~stylesheets/common/util';
@import './cat';

.about-view {
	flex: 1;
	position: absolute;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	@include flex-center;
	background-color: #e3e3e3;
	background-image: radial-gradient(farthest-side at 50% 50%, #666 0%, #e3e3e3 100%);

	h1 {
		font-size: 30px;
	}

	.cat {
		@extend %cat;
	}

	$cat-height: 25vh;
	$ear-height: 14vh;

	.cat-mobile {
		display: none;
		position: absolute;
		bottom: -$cat-height / 2;
		left: -5%;
		width: 110%;
		height: $cat-height;
		border-radius: 50%;
		background-color: $black;

		&::before {
			content: '';
			position: absolute;
			bottom: $cat-height - 4vh;
			left: 10%;
			@include triangle($ear-height, $black, top);
			transform: rotate(-10deg);
		}

		&::after {
			content: '';
			position: absolute;
			bottom: $cat-height - 4vh;
			right: 10%;
			@include triangle($ear-height, $black, top);
			transform: rotate(10deg);
		}
	}

	@include max-screen(768px) {
		background-image: none;

		.cat {
			display: none;
		}

		.cat-mobile {
			display: block;
		}
	}
}

