@import '~stylesheets/common/util';

$gap: 20px;
$btn-offsetTop: 30px;
$btn-offsetRight: 50px;
$btn-offsetLeft: $gap;
$btn-width: 80px;
$link-paddingTop: 80px;
$menu-bg: #123;
$menu-color: $blue;
$icon-size: 18px;
$shadow: 1px 1px 3px rgba(0, 0, 0, .86);

.menu {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: $side-width;
	visibility: hidden;
	transform: translate3d($side-width, 0, 0);
	transition: all $slider-time;
	z-index: 100;

	.side-menu {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;
		z-index: 101;
		background: #243B55;
		background: linear-gradient(290deg, #141E30, #243B55);
	}

	&.open {
		visibility: visible;
		transform: translate3d(0, 0, 0);
		transition: transform $slider-time;
	}

	.menu-btn {
		visibility: visible;
		position: absolute;
		top: $btn-offsetTop;
		left: 0;
		border-radius: 4px;
		cursor: pointer;
		padding: 0 12px;
		height: 34px;
		line-height: 34px;
		transform: translate3d(-120px, 0, 0);
		transition: all $slider-time;
		z-index: 99;

		.iconfont {
			margin-right: 5px;
			font-size: 15px;
			position: relative;
		    vertical-align: middle;
			top: -1px;
		}
	}

	.menu-btn-outside {
		visibility: visible;
		background-color: rgba(10, 22, 51, 0.63);
		font-size: 15px;
		color: $white;
		border: 1px solid $tr;

		&:hover {
			border-color: #fff;
		}
	}

	&.open .menu-btn-outside {
		visibility: hidden;
		transform: translate3d(10px, 0, 0);
	}

	.menu-btn-inside {
		visibility: hidden;
		font-size: 18px;
		color: $menu-color;
		text-shadow: $shadow;
	}

	&.open .menu-btn-inside {
		visibility: visible;
		background-color: $tr;
		font-size: 18px;
		transform: translate3d(10px, 0, 0);
	}

	@include max-screen(768px) {
		.menu-btn {
			top: 10px;
			transform: translate3d(-100px, 0, 0);
		}
		.menu-btn-inside {
			color: #999;
		}
	}

	.link-group {
		display: flex;
		flex-direction: column;
		text-shadow: $shadow;
		padding: $btn-offsetTop + $link-paddingTop 0 0 0;

		.link {
			padding: 10px $gap;
			font-size: 15px;
			cursor: pointer;
			font-weight: bold;
			position: relative;
			color: $menu-color;
			text-decoration: none;
			transition: all .3s;

			.iconfont {
				margin-right: 8px;
				font-size: $icon-size;
			}

			&.active {
				background-color: $menu-color;
				color: $white;
			}

			&:not(.active):hover {
				background-color: rgba(0, 0, 0, .16);
			}
		}

		@include max-screen(768px) {
			padding-top: 50px;
		}
	}

	.personal-information {
		position: absolute;
		left: 0;
		bottom: 20px;
		width: 100%;
		text-align: center;
		color: $menu-color;
		padding: 0 $gap;

		.avatar {
			width: 100px;
			height: 100px;
			border-radius: 50%;
		}

		.follow {
			padding: 20px 0;
			a {
				display: inline-block;
				margin: 0 8px;
				text-decoration: none;

				&:hover {
					opacity: .6;
				}
			}

			.iconfont {
				color: $menu-color;
				font-size: 40px;
			}
		}
	}

	.user-group {
		position: absolute;
		left: 0;
		bottom: 30px;
		width: 100%;
		padding: 0 40px;
		@include flex-h-center;
		flex-direction: column;

		a {
			color: $white;
			text-decoration: none;
			padding: 5px 12px;
			background-color: $blue;
			border-radius: 20px;
			margin-top: 15px;
			text-align: center;
			box-shadow: $shadow;
			transition: background-color .2s;

			&:hover {
			    background-color: lighten($blue, 5%);
			}
			
			&:active {
			    background-color: darken($blue, 5%);
			    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .36);
			}

			&:last-child {
				background-color: $green;
				&:hover {
				    background-color: lighten($green, 5%);
				}
				
				&:active {
				    background-color: darken($green, 5%);
				}
			}
		}
	}
}