@import '~stylesheets/common/util';

$gap: 20px;
$btn-offsetTop: 15px;
$btn-offsetRight: 50px;
$btn-offsetLeft: $gap;
$link-paddingTop: 50px;
$menu-bg: #123;
$menu-color: $blue;
$icon-size: 18px;
$shadow: 1px 1px 3px rgba(0, 0, 0, .86);

.menu {
	position: fixed;
	right: 0;
	top: 0;
	height: 100vh;
	width: $side-width;
	visibility: hidden;
	display: none;
	transform: translate3d($side-width, 0, 0);
	transition: all $slider-time;
	z-index: 100;

	&.show {
		display: block;
	}

	&.open {
		visibility: visible;
		transform: translate3d(0, 0, 0);
		transition: transform $slider-time;
	}


	.side-menu {
		height: 100%;
		width: 100%;
		position: relative;
		overflow: hidden;
		z-index: 101;
		background: #243B55;
		background: linear-gradient(290deg, #141E30, #243B55);
	}

	.menu-btn {
		visibility: visible;
		position: absolute;
		top: $btn-offsetTop;
		left: 0;
		border-radius: 4px;
		cursor: pointer;
		padding: 0 12px;
		height: 34px;
		line-height: 34px;
		transform: translate3d(-100px, 0, 0);
		transition: all $slider-time;
		z-index: 99;

		.iconfont {
			margin-right: 5px;
			font-size: 15px;
			position: relative;
		    vertical-align: middle;
			top: -1px;
		}
	}

	.menu-btn-outside {
		visibility: visible;
		background-color: rgba(10, 22, 51, 0.36);
		font-size: 15px;
		color: $white;
		border: 1px solid $tr;

		&:hover {
			border-color: #fff;
		}
	}

	&.open .menu-btn-outside {
		visibility: hidden;
		transform: translate3d(10px, 0, 0);
	}

	.menu-btn-inside {
		visibility: hidden;
		font-size: 18px;
		color: $menu-color;
		text-shadow: $shadow;
	}

	&.open .menu-btn-inside {
		visibility: visible;
		background-color: $tr;
		font-size: 18px;
		transform: translate3d(10px, 0, 0);
	}

	@include max-screen(768px) {
		.menu-btn {
			top: 10px;
			padding: 0 6px;
			height: 28px;
			line-height: 28px;
			transform: translate3d(-90px, 0, 0);
		}
		.menu-btn-inside {
			color: #999;
		}
	}

	.link-group {
		display: flex;
		flex-direction: column;
		text-shadow: $shadow;
		padding: $btn-offsetTop + $link-paddingTop 0 0 0;

		.link {
			padding: 10px $gap;
			font-size: 15px;
			cursor: pointer;
			font-weight: bold;
			position: relative;
			color: lighten($menu-color, 10%);
			text-decoration: none;
			transform: translate3d(50px, 0, 0);
			opacity: 0;
			transition: all .3s;

			.iconfont {
				margin-right: 8px;
				width: 20px;
				display: inline-block;
				font-size: $icon-size;
			}

			&.active {
				background-color: rgba($menu-color, 0.8);
				color: $white;
			}

			&:not(.active):hover {
				background-color: rgba(0, 0, 0, .16);
			}
		}

		@include max-screen(768px) {
			padding-top: 50px;
		}
	}
	&.open .link-group  {
		@for $i from 1 through 6 {
			.link:nth-child(#{$i}) {
				transform: translate3d(0, 0, 0);
				opacity: 1;
				transition: transform .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) $i * 0.1s, opacity .6s cubic-bezier(0.175, 0.885, 0.32, 1.275) $i * 0.1s;
			}
		}
	}

	.user-group {
		position: absolute;
		left: 0;
		bottom: 30px;
		width: 100%;
		padding: 0 $gap;
		@include flex-h-center;
		flex-direction: column;
		opacity: 0;
		transform: translate3d(0, 50px, 0);
	}

	&.open .user-group {
		transform: translate3d(0, 0, 0);
		opacity: 1;
		transition: transform .8s .4s, opacity .8s .4s;
	}

	.personal-information {
		width: 100%;
		text-align: center;
		color: $menu-color;
		padding: 15px 5px;

		.avatar {
			width: 80px;
			height: 80px;
			border-radius: 50%;
		}

		.follow {
			display: none;
			padding: 20px 0;
			a {
				display: inline-block;
				margin: 0 8px;
				text-decoration: none;

				&:hover {
					opacity: .6;
				}
			}

			.iconfont {
				color: $menu-color;
				font-size: 40px;
			}
		}

		.user-name {
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.user-profile {
			padding: 0 10px;
			color: rgba($menu-color, 0.6);
			@include line-ellipsis(2);
		}
	}

	.sign-btn-group {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.sign-btn {
		color: $white;
		width: 150px;
		margin: 15px auto 0;
		padding: 5px 0;
		border: none;
		display: block;
		background-color: $default;
		border-radius: 20px;
		text-align: center;
		text-decoration: none;
		box-shadow: $shadow;
		transition: background-color .2s;

		&:hover {
		    background-color: lighten($default, 5%);
		}

		&:active {
		    background-color: darken($default, 5%);
		    box-shadow: inset 2px 2px 2px rgba(0, 0, 0, .36);
		}


		&.blue-btn {
			background-color: $blue;
			&:hover {
			    background-color: lighten($blue, 5%);
			}

			&:active {
			    background-color: darken($blue, 5%);
			}
		}

		&.green-btn {
			background-color: $green;
			&:hover {
			    background-color: lighten($green, 5%);
			}

			&:active {
			    background-color: darken($green, 5%);
			}
		}
	}


	@include max-screen(768px) {
		.user-group {
			bottom: 15px;
		}

		.personal-information {
			font-size: 16px;

			.avatar {
				width: 80px;
				height: 80px;
			}
		}

		.sign-btn-group {
			flex-direction: row;
		}

		.sign-btn {
			margin-top: 5px;
			width: 45%;
			font-size: 13px;
			display: inline-block;
		}
	}
}