@import '../../stylesheets/common/util';

$gap: 20px;
$btn-offsetTop: 20px;
$btn-offsetRight: 50px;
$btn-offsetLeft: $gap;
$btn-width: 80px;
$link-paddingTop: 80px;
$menu-bg: #123;
$menu-color: $blue;
$icon-size: 18px;

.menu {
	.menu-btn {
		position: absolute;
		top: $btn-offsetTop;
		font-size: 18px;
		width: $btn-width;
		text-align: right;
		cursor: pointer;
		padding: 5px 0;
		transition: all $slider-time;

		.icon-star {
			margin-right: 5px;
			font-size: 22px;
		}
	}
	.menu-btn-outside {
		opacity: 1;
		right: $btn-offsetRight;
		color: $font-color;
	}

	&.open .menu-btn-outside {
		opacity: 0;
		transform: translate3d($btn-offsetRight + $btn-offsetLeft + $btn-width, 0, 0);
	}

	.menu-btn-inside {
		opacity: 0;
		left: -($btn-offsetRight + $btn-width);
		color: $menu-color;
	}

	&.open .menu-btn-inside {
		opacity: 1;
		transform: translate3d($btn-offsetRight + $btn-offsetLeft + $btn-width, 0, 0);
	}

	.side-menu {
		position: fixed;
		right: 0;
		top: 0;
		height: 100vh;
		width: $side-width;
		// overflow: hidden;
		// background-color: $menu-bg;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, .86);
		background: #de6161; /* fallback for old browsers */
		background: -webkit-linear-gradient(20deg, #141E30, #243B55); /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(20deg, #141E30, #243B55); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		transform: translate3d($side-width, 0, 0);
		transition: transform $slider-time;
		z-index: 100;
	}
}

.link-group {
	display: flex;
	flex-direction: column;
	padding: $btn-offsetTop + $link-paddingTop 0 0 0;

	.link {
		padding: 10px $gap;
		font-size: 15px;
		cursor: pointer;
		font-weight: bold;
		position: relative;
		color: $menu-color;
		text-decoration: none;
		transition: all .3s;

		.iconfont {
			margin-right: 8px;
			font-size: $icon-size;
		}

		// span {
		// 	position: relative;
		// }

		// span::after {
		// 	content: '';
		// 	height: 2px;
		// 	width: 0;
		// 	background-color: $menu-color;
		// 	position: absolute;
		// 	bottom: -2px;
		// 	left: 0;
		// 	transition: all .3s;
		// }

		// &:hover span::after {
		// 	width: 100%;
		// 	left: 0;
		// }

		// &.active span::after {
		// 	content: '';
		// 	height: 2px;
		// 	width: 100%;
		// 	background-color: $menu-color;
		// 	position: absolute;
		// 	bottom: -2px;
		// 	left: 0;
		// }

		&.active {
			background-color: $menu-color;
			color: $white;
			// padding: 10px $gap / 2;
			// transform: translate3d(-($icon-size + $btn-offsetLeft + 100px), 0, 0);

			@at-root .menu.open & {
				padding: 10px $gap;
				transform: scale(1.05);
				box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.56);
			}
		}
	}
}

.personal-information {
	position: absolute;
	left: 0;
	bottom: 20px;
	width: 100%;
	text-align: center;
	color: $menu-color;
	padding: 0 $gap;

	.avatar {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}

	.follow {
		padding: 20px 0;
		a {
			display: inline-block;
			margin: 0 8px;
			text-decoration: none;

			&:hover {
				opacity: .6;
			}
		}

		.iconfont {
			font-size: 40px;
		}
	}
}