@import 'color';
@import 'size';

// 字体颜色
$font: $grey;
$font1: $grey1;
$font2: $grey2;

// 占位符颜色
$placeholder: $grey3;

// 分割线颜色
$divider: $grey4;

// 背景色
$bgc: $grey5;

// 阴影
$shadow: 0 0 2px 0 rgba(0, 0, 0, .36);
$paper-shadow: 1px 2px 1px rgba(0, 0, 0, .16);
$near_shadow: 0 5px 15px -5px rgba(0, 0, 0, .5);