@import '~stylesheets/common/util';

.gobang-view {
	flex: 1;
	height: 100vh;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.user-header {
		width: 100%;
		height: 150px;
		padding-left: 30px;
		background-color: $blue;
		background: linear-gradient(to left, #606c88 , #3f4c6b);
		color: $white;
		@include flex-v-center;

		.user-avatar {
			border-radius: 8px;
			width: 80px;
			height: 80px;
		}

		.user-info {
			display: flex;
			height: 80px;
			flex-direction: column;
			padding-left: 20px;
		}

		.user-account {
			flex: 1;
		}

		.user-game-data {
			flex: 1;
			font-size: 15px;
			color: $gray;
		}

		@include max-screen(768px) {
			padding: 20px;
		}
	}

	.tabs {
		height: 40px;
		line-height: 40px;
		padding: 0 10px;
		background-color: $roseate;
		color: $white;
		display: flex;

		.online-count {
			font-size: 15px;
		}

		.btn-group {
			flex: 1;
			display: flex;
			justify-content: flex-end;
		}

		button {
			border: none;
			color: $white;
			font-size: 16px;
			margin-left: 30px;
			background-color: $tr;
			cursor: pointer;
		}
	}
}

.gobang-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px 20px;

	.gobang-item {
		padding: 5px 10px;
		margin: 10px;
		width: 250px;
		height: 150px;
		color: $white;
		background-color: $light-black;
		border-radius: 8px;
	}

	.gobang-top {
		text-align: center;

		.waiting {
			color: $green;
		}

		.playing {
			color: $red;
		}
	}
}

.gobang-main {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.gobang-player {
		width: 100px;
		text-align: center;

		.avatar {
			position: relative;
			width: 64px;
			height: 64px;
			border-radius: 50%;

			&.placeholder {
				display: inline-block;
				background-color: #ccc;
			}

			.icon-lock {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				font-size: 50px;
				color: #666;
			}
		}

		.join-btn {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

