@import '~stylesheets/common/util';

.gobang-view {
	flex: 1;
	height: 100vh;
	display: flex;
	flex-direction: column;

	@include max-screen(1000px) {
		height: auto;
		min-height: 100vh;
	}

	.user-header {
		width: 100%;
		padding: 30px;
		background-color: $blue;
		background: linear-gradient(to left, #606c88 , #3f4c6b);
		color: $white;
		@include flex-v-center;

		.user-avatar {
			border-radius: 8px;
			width: 80px;
			height: 80px;
		}

		.user-info {
			display: flex;
			height: 80px;
			flex-direction: column;
			justify-content: center;
			padding-left: 20px;
		}

		.user-game-data {
			font-size: 15px;
			color: $gray;
		}

		@include max-screen(768px) {
			padding: 10px;

			.user-account {
				font-size: 20px;
			}
		}
	}

	.game-lobby-wrap {
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	.tabs {
		padding: 14px;
		background-color: $roseate;
		color: $white;
		@include flex-v-center;

		.online-count {
			font-size: 15px;
		}

		.btn-group {
			flex: 1;
			display: inline-flex;
			justify-content: flex-end;
		}

		button {
			border: none;
			color: $white;
			font-size: 16px;
			margin-left: 30px;
			background-color: $tr;
			cursor: pointer;
		}
	}

	.form-control {
		padding: 10px 20px;
		@include flex-center;

		label {
			display: inline-block;
			text-align: right;
			width: 120px;
		}

		input {
			flex: 1;
			max-width: 180px;
			position: relative;
			padding: 8px 0;
			color: $font-color;
			background-color: $tr;
			border: none;
			border-bottom: 1px solid $default;

			&:-webkit-autofill {
				-webkit-text-fill-color: $font-color;
				-webkit-box-shadow: 0 0 0px 1000px $white inset;
			}
		}

		@include max-screen(500px) {
			padding: 10px 0;
			font-size: 14px;
		}
	}

	.no-data {
		flex: 1;
		@include flex-center;

		.iconfont {
			font-size: 48px;
		}
	}

	.myModal {
		width: 450px;

		@include max-screen(500px) {
			width: 95%;

			.Modal-Body {
				padding: 10px 25px 10px 10px;
			}
		}
	}
}

.gobang-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 95%;
	margin: 0 auto;

	@include min-screen(2259px) {
	    width: 95%;
	}

	@include max-screen(2259px) {
	    width: 2200px;
	}

	@include max-screen(1830px) {
	    width: 1800px;
	}

	@include max-screen(1580px) {
	    width: 1500px;
	}

	@include max-screen(1330px) {
	    width: 1300px;
	}

	@include max-screen(1080px) {
	    width: 1000px;
	}

	@include max-screen(768px) {
	    width: 100%;
	}

	.gobang-item {
		padding: 20px 20px 30px;
		margin: 10px;
		background-color: #f3f3f3;
		border-radius: 4px;
		width: 400px;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, .36);

		@include max-screen(2279px) {
		   width: calc(20% - 20px);
		}

		@include max-screen(1910px) {
		    width: calc(25% - 20px);
		}

		@include max-screen(1520px) {
		    width: calc(33% - 20px);
		}

		@include max-screen(1330px) {
		    width: calc(33% - 20px);
		}

		@include max-screen(1080px) {
		    width: calc(50% - 20px);
		}

		@include max-screen(768px) {
			margin: 10px 15px 10px;
		    width: calc(100% - 30px);
		}
	}

	.gobang-item-top {
		padding-bottom: 20px;

		.waiting {
			color: $dark-green;
		}

		.playing {
			color: $red;
		}
	}
}

.gobang-item-main {
	display: flex;
	align-items: center;
	justify-content: space-between;

	.gobang-item-player {
		padding: 0 20px;
		width: 150px;
		text-align: center;

		.avatar {
			position: relative;
			width: 80px;
			height: 80px;
			line-height: 80px;
			border-radius: 50%;

			&.placeholder {
				display: inline-block;
				background-color: #ccc;
			}

			.icon-lock {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				font-size: 28px;
				color: $white;
			}
		}

		.name {
			height: 21px;
			font-size: 15px;
			line-height: 21px;
		}

		.join-btn {
			cursor: pointer;
			text-decoration: underline;
		}
	}
}

.gobang {
	flex: 1;
	display: flex;
	padding: 10px;
	flex-direction: column;

	.gobang-room-info {
		display: flex;
		justify-content: space-between;
		height: 24px;
		line-height: 24px;
		margin-bottom: 10px;
		font-weight: 600;

		.gobang-status {
			position: relative;
			padding-left: 15px;
			margin-left: 10px;

			&::after {
				content: '';
				position: absolute;
				left: 0;
				top: 3px;
				width: 10px;
				height: 10px;
				border-radius: 50%;
			}

			&.waiting {
				color: $dark-green;

				&::after {
					background-color: $dark-green;
				}
			}

			&.playing {
				color: $red;

				&::after {
					background-color: $red;
				}
			}
		}

		.leave-room-btn {
			color: $red;
			font-size: 13px;
			cursor: pointer;

			&:hover {
				opacity: .8;
			}
		}
	}

	.gobang-main {
		display: flex;
		flex: 1;
		margin-bottom: 10px;
		background-color: $gray;
		justify-content: center;

		@include max-screen(1000px) {
			flex-direction: column;
		}
	}

	.gobang-control {
		flex: 1;
		max-width: 320px;
		min-width: 220px;
		flex-shrink: 0;
		padding: 10px;
		overflow: hidden;
		background-color: $default2;
		display: flex;
		flex-direction: column;

		.gobang-messages {
			flex: 1;
			background-color: $masstone;
			padding: 5px;
			font-size: 14px;
			color: $white;
			overflow: auto;
		}

		.gobang-msg {
			margin-bottom: 3px;
			word-break: break-all;
		}

		.gobang-input-group {
			display: flex;
			margin-top: 10px;
			height: 30px;
			justify-content: center;
			align-items: center;
		}

		.gobang-input {
			flex: 1;
			height: 100%;
			padding: 0 10px;
			border: none;
		}

		.icon-send {
			display: none;
			font-size: 20px;
			height: 30px;
			line-height: 30px;
			width: 40px;
			text-align: center;
			color: $white;
		}

		@include max-screen(1000px) {
			width: 100%;
			max-width: 100%;
			height: 150px;

			.icon-send {
				display: block;
			}
		}
	}

	.gobang-chessboard {
		position: relative;
		text-align: center;

		canvas {
			width: 100%;
			height: 100%;
			cursor: pointer;

			&.canvas-mask {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
			}

			&.unable {
				cursor: not-allowed;
			}
		}
	}

	.gobang-left {
		display: flex;
		max-width: 300px;
		min-width: 200px;
		flex-direction: column;

		@include max-screen(1000px) {
			max-width: 100%;
			min-width: 100%;
		}
	}

	.gobang-player-group {
		position: relative;
		flex: 1;
		width: 100%;
		border: 5px solid $light-black;
		background-color: #FFF;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		&:first-child {
			margin-bottom: 1px;
		}

		@include max-screen(1000px) {
			height: 100%;
			flex-direction: row;
		}
	}

	.gobang-player {
		width: 100%;
		height: 150px;
		@include flex-center;
		flex-direction: column;
		color: $white;
		background-color: $blue;
		text-align: center;

		.avatar {
			display: inline-block;
			position: relative;
			width: 80px;
			height: 80px;
			line-height: 80px;
			text-align: center;
			margin-bottom: 5px;
			border-radius: 50%;
			border: 2px solid rgba(255, 255, 255, .36);

			&.placeholder {
				background-color: $white;
			}

			.icon-cat {
				font-size: 50px;
				color: $default;
			}
		}

		@include max-screen(1000px) {
			flex: 1;
			min-width: 150px;
			@include flex-v-center;
			text-align: left;

			.avatar {
				border-radius: 4px;
				margin-right: 5px;
			}
		}
	}

	.gobang-panel {
		flex: 1;
		padding: 8px 10px;
		font-size: 16px;
		background-color: $white;

		.gobang-panel-item span {
			display: inline-block;
			width: 80px;
			font-size: 15px;
			margin: 3px 5px;
			text-align: right;
		}

		@include max-screen(1000px) {
			width: 150px;
			flex: initial;
			flex-shrink: 0;
			display: flex;
			font-size: 13px;
			flex-direction: column;

			.gobang-panel-item span {
				width: 60px;
				font-size: 12px;
			}
		}
	}

	.gobang-player-status {
		border: none;
		font-size: 18px;
		height: 44px;
		line-height: 44px;
		color: $font-color;
		text-align: center;
		background-color: $gray;

		&.ready-btn {
			background-color: $blue;
			color: $white;
			cursor: pointer;
		}

		&.is-ready {
			background-color: $dark-default;
		}

		@include max-screen(1000px) {
			position: absolute;
			height: 32px;
			line-height: 32px;
			right: 5px;
			bottom: 5px;
			font-size: 15px;
			padding: 0px 8px;
		}
	}
}